@model LiteCommerce.Admin.Models.CustomerPaginationQueryResult
@{ 
    ViewBag.Title = "Quản lí thông tin khách hàng";
}

@*Form tìm kiếm*@
<div class="container-fluid">
    <form id="formSearchInput">
        <div class="input-group">
            <input type="text" name="searchValue" id="searchValue" class="form-control" placeholder="Nhập tên cần tìm kiếm!"
                   autofocus />
            <div class="input-group-btn">
                <button class="btn btn-default search-btn" type="submit">
                    <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                </button>
            </div>
        </div>
    </form>
</div>

<div id="listCustomers" class="container-fluid"> </div>
@section scripts {
    <script>
            function getCustomers(page) {
                var searchValue = $('#searchValue').val();
                $.ajax({
                    url: "/Customers/List?searchValue=" + searchValue +"&page=" + page,
                    type: "GET",
                    success: function (data) {
                        $("#listCustomers").empty();
                        $("#listCustomers").html(data);
                    }
                });
            }

            $(document).ready(function () {
                getCustomers(1);
                $("#formSearchInput").submit(function (e) {
                    e.preventDefault();
                    getCustomers(1);
                });
            });
    </script>
}


