@model LiteCommerce.Admin.Models.SupplierPaginationQueryResult
@{
    ViewBag.Title = "Danh sách nhà cung cấp hàng hóa";
}

@*Form tìm kiếm*@
<div class="container-fluid" >
    <form id="formSearchInput">
        <div class="input-group">
            <input  type="text" name="searchValue" id ="searchValue" class="form-control" placeholder="Nhập tên cần tìm kiếm!"  
                    autofocus/>
            <div class="input-group-btn">
                <button class="btn btn-default search-btn" type="submit">
                    <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                </button>
            </div>
        </div>
    </form>
</div>
   
<div id="listSuppliers" class="container-fluid"> </div>

@section scripts {
    <script>
        function getSuppliers(page) {
            var searchValue = $('#searchValue').val();
            $.ajax({
                url: "/Suppliers/List?searchValue=" + searchValue +"&page=" + page,
                type: "GET",
                success: function (data) {
                    $("#listSuppliers").empty();
                    $("#listSuppliers").html(data);
                }
            });
        }

        $(document).ready(function () {
            getSuppliers(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getSuppliers(1);
            });
        });
    </script>
}
